<div class="container light-style flex-grow-1 container-p-y">

    <h4 class="font-weight-bold py-3 mb-4">
      Account settings
    </h4>

    <div class="card overflow-hidden">
      <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-3 pt-0">
          <div class="list-group list-group-flush account-settings-links">
            <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account-general">General</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-change-password">Change password</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-edit">Edit Account</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-delete">Delete Account</a>
            <% if current_user.admin == true %>
              <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-admin-option">Admin Option</a>
            <% end %>
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane fade active show" id="account-general">

              <hr class="border-light m-0">

              <div class="card-body">
                <div class="form-group mb-2">
                  <div class="input-group-prepend">
                    <label class="form-label">First Name</label>
                    <span class="input-group-text" id="basic-addon3"><%= @user.first_name %></span>
                  </div>
                </div>
                <div class="form-group mb-2">
                  <label class="form-label">Last Name</label>
                  <span class="input-group-text" id="basic-addon3"><%= @user.last_name %></span>
                </div>
                <div class="form-group mb-2">
                  <label class="form-label">Birth Date</label>
                  <span class="input-group-text" id="basic-addon3"><%= @user.birth_date %></span>
                </div>
                <div class="form-group mb-2">
                  <label class="form-label">E-mail</label>
                  <span class="input-group-text" id="basic-addon3"><%= @user.email %></span>
                </div>
                <div class="form-group mb-2">
                  <label class="form-label">Phone</label>
                  <span class="input-group-text" id="basic-addon3">+0 (123) 456 7891</span>
                </div>
              </div>

            </div>
            <div class="tab-pane fade" id="account-change-password">
              <div class="card-body pb-2">

                <div class="form-group">
                  <label class="form-label">Current password</label>
                  <input type="password" class="form-control">
                </div>

                <div class="form-group">
                  <label class="form-label">New password</label>
                  <input type="password" class="form-control">
                </div>

                <div class="form-group">
                  <label class="form-label">Repeat new password</label>
                  <input type="password" class="form-control">
                </div>

              </div>
            </div>
            <div class="tab-pane fade" id="account-edit">
              <div class="card-body pb-2">

                <div class="form-group">
                  <%= link_to "Edit Account", edit_user_path(@user) %>
                </div>

              </div>
            </div>
            <div class="tab-pane fade" id="account-delete">
              <div class="card-body pb-2">
                <div class="form-group">
                  <%= link_to "Delete Account", user_path(@user),
                              method: :delete,
                              data: { confirm: "Are you sure?" }%>
                </div>
              </div>
            </div>

            <% if current_user.admin == true %>
              <div class="tab-pane fade" id="account-admin-option">
                <div class="card-body pb-2">
                  <div class="form-group">
                    <div class="input-group-prepend">
                      <h4 class="font-weight-bold my-2">Add instruments in stock</h4><br>
                      <%= link_to 'Add Instrument', new_instrument_path, class:"btn btn-primary" %>
                      <hr class="hr" />
                      <h4 class="font-weight-bold my-2">Show all Users</h4><br>
                      <%= link_to 'Show Users', users_path, class:"btn btn-success" %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="text-right mt-3">
      <button type="button" class="btn btn-primary">Save changes</button>&nbsp;
      <button type="button" class="btn btn-default">Cancel</button>
    </div>

  </div>
