<div class="container light-style flex-grow-1 container-p-y">

    <h4 class="font-weight-bold py-3 mb-4">
      Account settings
    </h4>

    <div class="card overflow-hidden">
      <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-3 pt-0">
          <div class="list-group list-group-flush account-settings-links">
            <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account-general">General</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-edit">Edit Account</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-delete">Delete Account</a>
            <% if current_user.admin == true %>
              <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-admin-option">Admin Option</a>
            <% end %>
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane fade active show" id="account-general">

              <hr class="border-light m-0">

              <div class="card-body">
                <div class="form-group mb-2">
                  <label class="form-label">First Name</label>
                  <span class="input-group-text" id="basic-addon3"><%= @user.first_name %></span>
                </div>
                <div class="form-group mb-2">
                  <label class="form-label">Last Name</label>
                  <span class="input-group-text" id="basic-addon3"><%= @user.last_name %></span>
                </div>
                <div class="form-group mb-2">
                  <label class="form-label">Birth Date</label>
                  <span class="input-group-text" id="basic-addon3"><%= @user.birth_date %></span>
                </div>
                <div class="form-group mb-2">
                  <label class="form-label">E-mail</label>
                  <span class="input-group-text" id="basic-addon3"><%= @user.email %></span>
                </div>
                <div class="form-group mb-2">
                  <label class="form-label">Phone</label>
                  <span class="input-group-text" id="basic-addon3">+0 (123) 456 7891</span>
                </div>
              </div>

            </div>
            <div class="tab-pane fade" id="account-edit">
              <div class="card-body pb-2">

                <div class="form-group">
                  <%= link_to "Edit Account", edit_user_path(@user), class: 'btn btn-info' %><br>
                </div>

              </div>
            </div>
            <div class="tab-pane fade" id="account-delete">
              <div class="card-body pb-2">
                <div class="form-group">
                  <%= link_to "Delete Account", user_path(@user),
                              method: :delete,
                              data: { confirm: "Are you sure?" },
                              class: 'btn btn-danger' %>
                </div>
              </div>
            </div>

            <% if current_user.admin == true %>
              <div class="tab-pane fade" id="account-admin-option">
                <div class="card-body border">
                  <form class="form-inline">
                    <div class="form-group mb-2">
                      <input type="text" readonly class="form-control-plaintext font-weight-bold my-1" value="Add instruments in stock:">
                    </div>
                    <%= link_to 'Add Instrument', new_instrument_path, class:"btn btn-primary" %>
                  </form>

                  <form class="form-inline">
                    <div class="form-group mb-2">
                      <input type="text" readonly class="form-control-plaintext font-weight-bold my-1" value="Show all Users:">
                    </div>
                    <%= link_to 'Show Users', users_path, class:"btn btn-success" %>
                  </form>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="text-left mt-3">
      <%= link_to 'Back', root_path, class:'btn btn-primary' %>
    </div>

  </div>
