<%= render 'layouts/navbar' %>

<div class="row gx-0">
  <div class="col-2">
    <div class="list-group" id="list-tab" role="tablist">
      <li class="list-group-item list-group-item-primary">Tipos de Instrumentos</li>
      <li class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-guitar" role="tab" aria-controls="list-home">Guitarra</li>
      <li class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-classicalguitar" role="tab" aria-controls="list-profile">Violão</li>
      <li class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-bassguitar" role="tab" aria-controls="list-messages">Contrabaixo</li>
      <li class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-piano" role="tab" aria-controls="list-settings">Piano</li>
    </div>
  </div>

  <section class="py-5 col-10">
    <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

        <% @instruments.each do |instrument| %>
        <div class="col mb-5">
          <div class="card h-100" style="width: 18rem;">
            <img class="card-img-top"><%= image_tag instrument.photo, style: 'height:350px;width:auto;' if instrument.photo.attached? %>
            <div class="card-body p-4">
              <div class="text-center">
                <h5 class="fw-bolder"><%= instrument.name %>, <%= instrument.model %> <%= instrument.brand %></h5>
                <div class="d-flex justify-content-center small text-warning mb-2">
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                </div>
                <p class="card-text">Preço: R$ <%= instrument.price %></p>
              </div>
            </div>
            <%= link_to '', shop_path(instrument), class:'mt-auto stretched-link' %>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </section>
</div>

<%= render 'layouts/footer' %>
