<%= render 'layouts/navbar' %>

<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6"><%= image_tag @instrument.photo, style:'card-img-top mb-5 mb-md-0', size:'498x581' if @instrument.photo.attached? %></div>
      <div class="col-md-6">
        <div class="small mb-1">SKU: BST-498<%= @instrument.id %></div>
        <h1 class="display-5 fw-bolder"><%= @instrument.name %> <%= @instrument.model %> <%= @instrument.brand %></h1>
        <div class="fs-5 mb-5">
            <span>R$ <%= @instrument.price %></span>
        </div>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
        <div class="d-flex">
            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                <i class="bi-cart-fill me-1"></i>
                Add to cart
            </button>
        </div>
        <% if current_user && current_user.admin %>
          <p class="font-italic mt-5">Admin options:</p>
          <div class="d-flex align-items-end mt-1">
            <%= link_to "Edit", edit_instrument_path(@instrument), class:'btn btn-primary me-1' %>
            <%= link_to "Destroy", instrument_path(@instrument), class:'btn btn-danger',
            method: :delete,
            data: { confirm: "Are you sure?" } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<div class="mb-5">
  <hr style="width:auto;margin-right:150px;margin-left:150px;background-color:black;">
  <h2 class="text-center my-4 font-weight-light">DESCRIPTION</h2>
  <%= simple_format(@instrument.description, class:'font-weight-light', style:'margin-right:150px;margin-left:150px;') %>
</div>
  
<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">Featured Products</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

      <% @instruments.take(5).each do |instrument| %>
        <div class="col mx-2 px-0 hover-shadow" style="max-width:190px;max-height:550px;">
          <div class="card h-100">
            <%= image_tag instrument.photo, class:'card-img-top', style: 'width:auto;height:350px;' if instrument.photo.attached? %>
            <div class="card-body p-4">
              <div class="text-center">
                <h5 class="fw-bolder"><%= instrument.name %>, <%= instrument.model %> <%= instrument.brand %></h5>
                <div class="d-flex justify-content-center small text-warning mb-2">
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                </div>
                <p class="card-text">R$ <%= instrument.price %></p>
              </div>
            </div>
          </div>
          <%= link_to '', shop_path(instrument), class:'mt-auto stretched-link' %>
        </div>
      <% end %>

    </div>
  </div>
</section>

<%= render 'layouts/footer' %>
